body {
  margin: 0;
	font-family: Tahoma;
}
p {
  margin: 10px;
}
name_title {
  color: black;
  font-weight: bold;
  font-size:45px;
  align: left;
  margin-left: 5%;
  padding-top: 5%;
  margin-bottom: 5px;
}
nav {
  font-size: 30px;
  padding-left: 5%;
  margin-top: 1%;
  width:auto;
  background: #393939;
  display:flex;
  justify-content: left;
}
a.nav {
  color: white;
  text-decoration: none;
  padding-left: 1%;
  padding-right: 1%;
  border-bottom: thick solid transparent;
  z-index = -1;
}
main {
  margin: 2rem;
}
container {
		/* margin:auto; */
		border:1em solid #DDDDDD;
		box-shadow: 0 0 5px black;
		background-color: #DDDDDD;
		width:fit-content;
		position: relative;
		/* align-self: center; */

	}

	container:hover .hovertext{
		box-shadow: 0 0 5px black;
		top: 0%;
		opacity: 0.9;
		height: auto;

	}
	.hovertext {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  background-color: #DDDDDD;
  overflow: hidden;
  height:0;
  transition: 0.25s ease;
	}
