body {
  margin: 0;
	font-family: Tahoma;
}
p {
  margin: 10px;
}
name_title {
  color: black;
  font-weight: bold;
  font-size:45px;
  align: left;
  margin-left: 5%;
  padding-top: 5%;
  margin-bottom: 5px;
}
nav {
  font-size: 30px;
  margin-left: 5%;
  margin-top: 1%;
  width:auto;
  background: transparent;
  display:flex;
  justify-content: left;
}
a.nav {
  color: black;
  text-decoration: none;
  padding-left: 1%;
  padding-right: 1%;
  border-bottom: thick solid transparent;
  z-index = -1;
}
main {
  margin: 2em;
}
